  <div class="col-md-3 profil  ">
    <aside>
      <img src="img/me.jpg" alt="me" class="img-circle">
      <h1>Jordan Luce</h1>
      <p>Software Eng. CODEHANCE</p>
      <a class="twitter-follow-button"
      href="https://twitter.com/IWASFed"
      data-show-screen-name="True"
      data-show-count="True"
      data-size="small"
      >
      Follow @IWASFed
    </a>
    <hr>
    <p>Share this page</p>
    <ul>
      <li><img src="img/social_icons/email.png"></li>
      <li><img src="img/social_icons/facebook.png"></li>
      <li><img src="img/social_icons/twitter.png"></li>
      <li><img src="img/social_icons/pinterest.png"></li>
      <li><img src="img/social_icons/linkedin.png"></li>
      <li><img src="img/social_icons/googleplus.png"></li>
    </ul>
  </aside>

  </div>